<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299299953335-r3km1tdsr4tn1gj31e096e3hi7k7h446.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299299953335-r3km1tdsr4tn1gj31e096e3hi7k7h446</string>
	<key>API_KEY</key>
	<string>AIzaSyAOiBZU4xGw8829c5JAicGwFkbPfjjBv-s</string>
	<key>GCM_SENDER_ID</key>
	<string>299299953335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Alexander.Meme-Creator</string>
	<key>PROJECT_ID</key>
	<string>meme-creator-e2b77</string>
	<key>STORAGE_BUCKET</key>
	<string>meme-creator-e2b77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299299953335:ios:969275671e70752c99cb32</string>
	<key>DATABASE_URL</key>
	<string>https://meme-creator-e2b77.firebaseio.com</string>
</dict>
</plist>